:root {
    --darkgreen: #0E4357;
    --lightblue: #ADEEE3;
    --white: #EDF4F5;
    --yellow: #F5B841;
    --title-font: 'Source Sans Pro',  sans-serif;
    --text-font: 'Noto Sans', sans-serif;
}
body {
    height: 100%;
    margin: 0;
    background: var(--darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--text-font);
}
.navbar {
    background-color: #0B3342;
}
.navbar-brand{
    font-family: var(--title-font);
}
.nav-link {
    text-decoration: none;
    border-bottom: 3px solid var(--lightblue);
    font-family: var(--title-font);
}

.nav-link:hover {
    border-bottom-color: var(--yellow);
}
.container {
    scroll-margin-top: 10vh;
}
h2 {
  color: var(--white);
    font-family: var(--title-font);
}
p {
  color: var(--white);
}
.card-img-top {
    border-bottom: 1px solid black;
}
p.card-text {
    color: var(--darkgreen);
}
h5.card-title {
    color: var(--darkgreen);
    font-family: var(--title-font);
}

.marvel-device {
    width: auto !important;
    height: auto !important;
}