body {
    height: 100%;
    width: 100%;
    background-color:#0E4357; 
    background-image: radial-gradient(farthest-corner at 50% 0%, #ADEEE3, #447B8C, #0E4357); 
    background-image: radial-gradient(farthest-side at 50% 0%, #ADEEE3, #447B8C, #0E4357);
    background-size: cover;
}